﻿body {
}

/*Estilo que aplica a todas las etiquetas*/
h1{
    color:rebeccapurple;
}

/*Estilo que aplica solo al control con el id Contenedor*/
#Contenedor{
    background-color: orangered;
}

#username{
    text-align:right;
}
/*Estilo que aplica solo a la clase fila*/
.fila {
    color: white;
}

.columna{
    float:left;
    width:25%;
}

#username,.fila,.columna{
    background-color:red;
}