﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Anidada.master" AutoEventWireup="true" CodeBehind="FormularioAnidado.aspx.cs" Inherits="Proyecto.WebApplication.Forms.FormularioAnidado" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Nido" runat="server">
    <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
    <asp:Button ID="Button1" runat="server" Text="Button" />
</asp:Content>
