﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Anidada.master" AutoEventWireup="true" CodeBehind="FormularioAnidado2.aspx.cs" Inherits="Proyecto.WebApplication.Css.FormularioAnidado2" %>
<asp:Content ID="Content1" ContentPlaceHolderID="Nido" runat="server">
    Hola, soy otra pagina
</asp:Content>
